@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lg-container {
  max-width: 1600px;
  position: relative;
  padding: 0;
}

.lg-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.lg-hotspot {
  position: absolute;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 0;
  &:hover, &:active {
  //  z-index: 999;
    .lg-hotspot-button {
        border-color: #ff6000 + #11174c;
      &:after {
        background-color: #ff6000 + #11174c;
      }
    }
  }
}

.lg-hotspot-button {
  height: 20px*2;
  width: 20px*2;
  padding: 0px;
  border-radius: 100%;
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  animation: button-pulse 7s ease-in-out infinite;
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    content: "";
    display: block;
    height: 24px*0.7;
    width: 24px*0.7;
    border-radius: 100%;
    border: 3px solid white;
    background-color: none;
    transition: border-color 1s linear;

  }
}

.lg-hotspot-label {
  position: absolute;
  padding: 0 0 1.1em 0;
  width: 16em;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
  font-size: 14.5px;
  line-height: 1.45em;
  z-index: -1;
  pointer-events: none;
  border-radius: 2px;
  user-select: none;
  display: none;
  transition: all 0.1s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    margin: 0;
    padding: 0.65em 24px;
    background-color: #555;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: white;
    border-radius: 2px 2px 0 0;
    width: 100%;
    text-align: center;
  }
  p {
    margin: 0;
    padding: 1.1em 24px 0 24px;
    color: #333;
  }

  a {
    margin-top: 10px;
    position: relative;
    z-index: 99999;
  }
}

.top-left .lg-hotspot-label {
  top: 24px;
  right: auto;
  bottom: auto;
  left: 24px;
}

.top-right .lg-hotspot-label {
  top: 24px;
  right: 24px;
  bottom: auto;
  left: auto;
}

.bottom-right .lg-hotspot-label {
  top: auto;
  right: 24px;
  bottom: 24px;
  left: auto;
}

.bottom-left .lg-hotspot-label {
  top: auto;
  right: auto;
  bottom: 24px;
  left: 24px;
}

@keyframes button-pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  30% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  60% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 245, 17, 0.7);
  }
  70% {
    box-shadow: 0px 0px 0px 20px rgba(255, 245, 17, 0);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 245, 17, 0);
  }
}
